@model IEnumerable<AndresJimenez_Taller_LigaPro.Models.Equipo>

@{
    ViewData["Title"] = "Equipos";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>EQUIPOS</h1>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Equipo</a>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extranjeros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
                <td>
                    @if (item.Extranjeros)
                    {
                        <span class="text-success">
                            <i class="bi bi-check-circle-fill"></i> Sí
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            <i class="bi bi-x-circle-fill"></i> No
                        </span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
